[Unit]
Description=Unzipping the %i

[Service]
Type=simple
ExecStart=/bin/bash /usr/local/bin/Unzipper_algo.sh
Restart=always
RestartSec=1
KillMode=process
IgnoreSIGPIPE=no
RemainAfterExit=yes
Environment="DISP"
Environment="XAUTH"

[Install]
WantedBy=multi-user.target
